<fieldset [formGroup]="form" fxLayout="column">
  <legend>Address</legend>
  <mat-form-field fxFlex>
    <input matInput placeholder="Street" formControlName="street">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="Zip" formControlName="zip">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input matInput placeholder="City" formControlName="city">
  </mat-form-field>
  <mat-select placeholder="Country" formControlName="country">
    <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
  </mat-select>
</fieldset>
