<div class="trm-contacts-editor">
  <form [formGroup]="form" (ngSubmit)="save(form.value)">
    <mat-card>
      <mat-card-title-group class="fullBleed editing">
        <img mat-card-md-image [src]="contact?.image || ''">
        <mat-card-title>{{form.get('name').value}}</mat-card-title>
        <mat-card-subtitle>{{form.get('email').value || 'No email address'}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field fxFlex [color]="form.get('name').errors ? 'warn' : 'primary'">
            <input matInput placeholder="Name" formControlName="name">
            <mat-hint align="end" *ngIf="!form.get('name').valid && !form.get('name').pristine">
              <ng-container *ngIf="form.get('name').hasError('required')">This field is required</ng-container>
              <ng-container *ngIf="form.get('name').hasError('minlength')">A name must have at least {{form.get('name').errors.minlength.requiredLength}} characters</ng-container>
            </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex [color]="form.get('email').errors ? 'warn' : 'primary'">
            <input matInput placeholder="Email" formControlName="email">
            <mat-hint align="end" *ngIf="!form.get('email').valid && !form.get('email').pristine">
              <ng-container *ngIf="form.get('email').hasError('validateEmail')">Please enter a valid email address</ng-container>
              <ng-container *ngIf="form.get('email').hasError('emailTaken')">This email address is already taken</ng-container>
            </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Birthday" formControlName="birthday" type="date">
          </mat-form-field>
          <div formArrayName="phone">
            <div *ngFor="let phone of form.get('phone').controls; let i = index; let l = last;">
              <mat-form-field>
                <input matInput placeholder="Phone" [formControlName]="i">
              </mat-form-field>
              <button mat-icon-button type="button" *ngIf="i >= 1" (click)="removePhoneField(i)"><mat-icon>highlight_off</mat-icon></button>
              <button mat-icon-button type="button" *ngIf="l && phone.value != ''" (click)="addPhoneField()"><mat-icon>add_circle_outline</mat-icon></button>
            </div>
          </div>
          <mat-form-field fxFlex>
            <input matInput placeholder="Website" formControlName="website">
          </mat-form-field>
          <label class="gender-label">Gender:</label>
          <mat-radio-group name="gender" formControlName="gender">
            <mat-radio-button *ngFor="let variant of gender" [value]="variant">
              {{variant}}
            </mat-radio-button>
          </mat-radio-group>
          <trm-address-input formControlName="address"></trm-address-input>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button mat-button type="button" (click)="save(contact)" title="Save contact">Save</button>
        <button mat-button type="button" (click)="cancel(contact)" title="Cancel editing">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
